/* CSS reset to create a more consistent look across different browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Use a basic, widely-supported font */
    line-height: 1.6; /* A basic line-height for readability */
    color: #333; /* A basic text color that's not too harsh */
    background-color: #fff; /* A basic background color */
}

:root{
    --dark_Bg_Purple: #7277A5;
    --light_Bg_Purple: #f4e7fe;
    --text_Color_Purple: #4E2FC9;
}
/* Add your custom CSS below this line */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: radial-gradient(circle, rgba(114,119,165,1) 0%, rgba(244,231,254,0.8953956582633054) 100%);
    color: #333;
    position: sticky; top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
header a{
    font-weight: 700;
    font-size: 2rem;
    color: #333;
    text-decoration: none;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.15rem;

    li{
        margin: 0 0.7rem;
    }
}
li{
    transition: 0.5s ease-in-out;
}
li:hover{
    transform: scale(1.03);
}
li a{
    text-decoration: none;
    color: #333; 
    padding: 0 0.5rem;
    font-size: smaller;
}
li a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: var(--text_Color_Purple);
}

.brand{
    padding: 3rem 0;
}

h1, h2{
    text-align: center;
}

.brand h2{
    font-style: italic;
    font-weight: 500;
}

main{
    padding: 0 5rem;
}
.order_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.order_Container-menu{
    width: 60%;
}
.order_Container-menu h3{
    color: #4E2FC9;
}

.foodCategories ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0.75rem 0;
    margin: 0.5rem 0;
    border-top: 3px solid #F4E7FE;
    border-bottom: 3px solid #F4E7FE;
}
.foodCategories ul li{
    padding: 0 1rem;
    border-right: 1px solid #333;
}
.foodCategories ul li:hover{
    font-weight: 700;
    text-decoration: underline;
}

.order_Container-Cookies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 2rem;
}
.cookie_Container{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid #4E2FC9;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.cookie_Container img{
    height: 10rem;
    object-fit:cover;
    border-radius: 5%;
}
.cookie_Container h4{
    color: #4E2FC9;
}
.cookie_Container span{
    font-size: smaller;
}
.cookie_Container button{
    color: #4E2FC9;
    font-size: smaller;
    font-weight: 500;
    background-color: #F4E7FE;
    border-radius: 15px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #4E2FC9;
}
.cookie_Container button:hover{
    text-decoration: dashed;
    font-weight: 700;
    cursor: pointer;
}
.yourOrder_Container{
    margin-top: 1.5rem;
    height: fit-content;
    width: 37%;
    background-color: #7277A5;
    border-radius: 15px;
    padding: 1.5rem;
    overflow: scroll;
}
.yourOrder_Container h3{
    background-color: #FFFFFF;
    padding: 0.5rem;
    color: #4E2FC9;
    border-radius: 10px;
    
}
.yourOrder_Container form{
    margin-top: 1.5rem;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 10px;
    font-size: smaller;
}
form .input{
    padding: 0.25rem;
    border-radius: 10px;
    width: 90%;
    border: 1px solid #4E2FC9;
}
form .payment_Button{
    background-color: #F4E7FE;
    color: #4E2FC9;
    font-weight: 700;
    font-size: 0.90rem;
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #4E2FC9;
    border-radius: 10px;
    margin-left: 20%;
}

footer{
    background-color: #F4E7FE;
    margin-top: 3rem;
    padding: 1rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
footer .contact_Info{
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #4E2FC9;
}
.contact_Info ul{
    list-style: none;
    font-size: smaller;
    text-align: left;
}
.madeBy{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
}
.thankYou{
    font-weight: 700;
}
.myName{
    font-size: smaller;
}